<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>

<body>
    <h1>Weather App</h1>
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add</button>
    </form>
    <hr />
    <hr />
    {% for city in city_data %}
    {{ city.city }} <br />
    <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" alt="Image"> <br>
    {{ city.temp }} C<br />
    {{ city.description }} <br />
    <hr />
    {% endfor %}

</body>

</html>